%h1= @question.title
%h5= @question.body
%hr
%h3= 'All answer:'
- @answers.each do |answer|
  = answer.body
  - if answer.user == current_user
    = link_to 'Delete', question_answer_path(@question, answer.id), method: :delete
  %br
%hr
%h3= 'Your answer to the question:'
- if user_signed_in?
  = form_for [@question, @answer] do |f|
    = f.hidden_field :question_id, value: @question.id
    = f.hidden_field :user_id, value: current_user.id
    = f.label :body
    = f.text_area :body
    = f.submit 'Add answer'
